@model LoginUser

<form action="/login" method="post" class="well">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Email Address:</label>
                <input type="text" name="LoginEmail" placeholder="Email Address" class="form-control" value="reimu@hakurei.shrine" />
                <span asp-validation-for="LoginEmail"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Password:</label>
                <input type="password" name="LoginPassword" placeholder="Password" class="form-control" value="Test1234" />
                <span asp-validation-for="LoginPassword"></span>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Login" />
</form>