@{
    ViewData["Title"] = "Sign In";
}

<div class="jumbotron">
    <h1>EasyBay</h1>
</div>

<div class="row">
    <div class="col-sm-8">
        <partial name="_Register.cshtml" />
    </div>
    <div class="col-sm-4">
        <partial name="_Login.cshtml" />
    </div>
</div>
